
.modal {
    display: block; /* Show the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .container-fluid {
    height: full;
}
html, body {
    height: 100%;
    margin: 0;
}
.task-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    max-height: 800px;
    overflow-y: auto; 
  }
  .task-text-body {
    /* word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto; */
    max-height: 100px;
    /* overflow-x: scroll;  */
    overflow-x: hidden;
  }
  
  .modal-body {
    max-height: 70vh; 
    overflow-y: auto; 
  }
  .button-group {
    display: flex;
    flex-direction: column; 
    gap: 2px;
  }


  